[run]
source = blumate

omit =
    blumate/__main__.py

    # omit pieces of code that rely on external devices being present
    blumate/components/apcupsd.py
    blumate/components/*/apcupsd.py

    blumate/components/arduino.py
    blumate/components/*/arduino.py

    blumate/components/bloomsky.py
    blumate/components/*/bloomsky.py

    blumate/components/dweet.py
    blumate/components/*/dweet.py

    blumate/components/ecobee.py
    blumate/components/*/ecobee.py

    blumate/components/insteon_hub.py
    blumate/components/*/insteon_hub.py

    blumate/components/isy994.py
    blumate/components/*/isy994.py

    blumate/components/modbus.py
    blumate/components/*/modbus.py

    blumate/components/mysensors.py
    blumate/components/*/mysensors.py

    blumate/components/nest.py
    blumate/components/*/nest.py

    blumate/components/octoprint.py
    blumate/components/*/octoprint.py

    blumate/components/qwikswitch.py
    blumate/components/*/qwikswitch.py

    blumate/components/rpi_gpio.py
    blumate/components/*/rpi_gpio.py

    blumate/components/scsgate.py
    blumate/components/*/scsgate.py

    blumate/components/tellduslive.py
    blumate/components/*/tellduslive.py

    blumate/components/tellstick.py
    blumate/components/*/tellstick.py

    blumate/components/*/thinkingcleaner.py

    blumate/components/vera.py
    blumate/components/*/vera.py

    blumate/components/verisure.py
    blumate/components/*/verisure.py

    blumate/components/*/webostv.py

    blumate/components/wemo.py
    blumate/components/*/wemo.py

    blumate/components/wink.py
    blumate/components/*/wink.py

    blumate/components/zigbee.py
    blumate/components/*/zigbee.py

    blumate/components/zwave.py
    blumate/components/*/zwave.py

    blumate/components/enocean.py
    blumate/components/*/enocean.py

    blumate/components/alarm_control_panel/alarmdotcom.py
    blumate/components/alarm_control_panel/nx584.py
    blumate/components/binary_sensor/arest.py
    blumate/components/binary_sensor/rest.py
    blumate/components/browser.py
    blumate/components/camera/bloomsky.py
    blumate/components/camera/foscam.py
    blumate/components/camera/generic.py
    blumate/components/camera/mjpeg.py
    blumate/components/camera/rpi_camera.py
    blumate/components/device_tracker/actiontec.py
    blumate/components/device_tracker/aruba.py
    blumate/components/device_tracker/asuswrt.py
    blumate/components/device_tracker/bluetooth_tracker.py
    blumate/components/device_tracker/ddwrt.py
    blumate/components/device_tracker/fritz.py
    blumate/components/device_tracker/icloud.py
    blumate/components/device_tracker/luci.py
    blumate/components/device_tracker/netgear.py
    blumate/components/device_tracker/nmap_tracker.py
    blumate/components/device_tracker/snmp.py
    blumate/components/device_tracker/thomson.py
    blumate/components/device_tracker/tomato.py
    blumate/components/device_tracker/tplink.py
    blumate/components/device_tracker/ubus.py
    blumate/components/discovery.py
    blumate/components/downloader.py
    blumate/components/feedreader.py
    blumate/components/garage_door/wink.py
    blumate/components/ifttt.py
    blumate/components/keyboard.py
    blumate/components/light/blinksticklight.py
    blumate/components/light/hue.py
    blumate/components/light/hyperion.py
    blumate/components/light/lifx.py
    blumate/components/light/limitlessled.py
    blumate/components/light/osramlightify.py
    blumate/components/lirc.py
    blumate/components/media_player/cast.py
    blumate/components/media_player/denon.py
    blumate/components/media_player/firetv.py
    blumate/components/media_player/gpmdp.py
    blumate/components/media_player/itunes.py
    blumate/components/media_player/kodi.py
    blumate/components/media_player/lg_netcast.py
    blumate/components/media_player/mpd.py
    blumate/components/media_player/onkyo.py
    blumate/components/media_player/panasonic_viera.py
    blumate/components/media_player/pioneer.py
    blumate/components/media_player/plex.py
    blumate/components/media_player/roku.py
    blumate/components/media_player/samsungtv.py
    blumate/components/media_player/snapcast.py
    blumate/components/media_player/sonos.py
    blumate/components/media_player/squeezebox.py
    blumate/components/media_player/yamaha.py
    blumate/components/notify/aws_lambda.py
    blumate/components/notify/aws_sns.py
    blumate/components/notify/aws_sqs.py
    blumate/components/notify/free_mobile.py
    blumate/components/notify/gntp.py
    blumate/components/notify/googlevoice.py
    blumate/components/notify/instapush.py
    blumate/components/notify/message_bird.py
    blumate/components/notify/nma.py
    blumate/components/notify/pushbullet.py
    blumate/components/notify/pushetta.py
    blumate/components/notify/pushover.py
    blumate/components/notify/rest.py
    blumate/components/notify/sendgrid.py
    blumate/components/notify/slack.py
    blumate/components/notify/smtp.py
    blumate/components/notify/syslog.py
    blumate/components/notify/telegram.py
    blumate/components/notify/twilio_sms.py
    blumate/components/notify/twitter.py
    blumate/components/notify/xmpp.py
    blumate/components/scene/hunterdouglas_powerview.py
    blumate/components/sensor/arest.py
    blumate/components/sensor/bitcoin.py
    blumate/components/sensor/cpuspeed.py
    blumate/components/sensor/deutsche_bahn.py
    blumate/components/sensor/dht.py
    blumate/components/sensor/dte_energy_bridge.py
    blumate/components/sensor/efergy.py
    blumate/components/sensor/eliqonline.py
    blumate/components/sensor/fitbit.py
    blumate/components/sensor/forecast.py
    blumate/components/sensor/glances.py
    blumate/components/sensor/google_travel_time.py
    blumate/components/sensor/gtfs.py
    blumate/components/sensor/lastfm.py
    blumate/components/sensor/loopenergy.py
    blumate/components/sensor/netatmo.py
    blumate/components/sensor/neurio_energy.py
    blumate/components/sensor/nzbget.py
    blumate/components/sensor/onewire.py
    blumate/components/sensor/openweathermap.py
    blumate/components/sensor/rest.py
    blumate/components/sensor/sabnzbd.py
    blumate/components/sensor/snmp.py
    blumate/components/sensor/speedtest.py
    blumate/components/sensor/steam_online.py
    blumate/components/sensor/supervisord.py
    blumate/components/sensor/swiss_public_transport.py
    blumate/components/sensor/systemmonitor.py
    blumate/components/sensor/temper.py
    blumate/components/sensor/time_date.py
    blumate/components/sensor/torque.py
    blumate/components/sensor/transmission.py
    blumate/components/sensor/twitch.py
    blumate/components/sensor/uber.py
    blumate/components/sensor/worldclock.py
    blumate/components/switch/acer_projector.py
    blumate/components/switch/arest.py
    blumate/components/switch/dlink.py
    blumate/components/switch/edimax.py
    blumate/components/switch/hikvisioncam.py
    blumate/components/switch/mystrom.py
    blumate/components/switch/orvibo.py
    blumate/components/switch/pulseaudio_loopback.py
    blumate/components/switch/rest.py
    blumate/components/switch/rpi_rf.py
    blumate/components/switch/transmission.py
    blumate/components/switch/wake_on_lan.py
    blumate/components/thermostat/eq3btsmart.py
    blumate/components/thermostat/heatmiser.py
    blumate/components/thermostat/homematic.py
    blumate/components/thermostat/proliphix.py
    blumate/components/thermostat/radiotherm.py
    blumate/components/upnp.py
    blumate/components/zeroconf.py


[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
