[submodule "blumate/components/frontend/www_static/home-assistant-polymer"]
	path = blumate/components/frontend/www_static/home-assistant-polymer
	url = https://github.com/home-assistant/home-assistant-polymer.git
