# BluMate core
requests>=2,<3
pyyaml>=3.11,<4
pytz>=2016.4
pip>=7.0.0
jinja2>=2.8
voluptuous==0.8.9
eventlet==0.19.0

# blumate.components.isy994
PyISY==1.0.6

# blumate.components.arduino
PyMata==2.12

# blumate.components.rpi_gpio
# RPi.GPIO==0.6.1

# blumate.components.media_player.sonos
SoCo==0.11.1

# blumate.components.notify.twitter
TwitterAPI==2.4.1

# blumate.components.http
Werkzeug==0.11.5

# blumate.components.apcupsd
apcaccess==0.0.4

# blumate.components.sun
astral==1.2

# blumate.components.light.blinksticklight
blinkstick==1.1.7

# blumate.components.sensor.bitcoin
blockchain==1.3.3

# blumate.components.thermostat.eq3btsmart
# bluepy_devices>=0.2.0

# blumate.components.notify.aws_lambda
# blumate.components.notify.aws_sns
# blumate.components.notify.aws_sqs
boto3==1.3.1

# blumate.components.notify.xmpp
dnspython3==1.12.0

# blumate.components.dweet
# blumate.components.sensor.dweet
dweepy==0.2.0

# blumate.components.sensor.eliqonline
eliqonline==1.0.12

# blumate.components.enocean
enocean==0.31

# blumate.components.http
eventlet==0.19.0

# blumate.components.thermostat.honeywell
evohomeclient==0.2.5

# blumate.components.feedreader
feedparser==5.2.1

# blumate.components.sensor.fitbit
fitbit==0.2.2

# blumate.components.notify.free_mobile
freesms==0.1.0

# blumate.components.conversation
fuzzywuzzy==0.10.0

# blumate.components.notify.gntp
gntp==1.0.3

# blumate.components.sensor.google_travel_time
googlemaps==2.4.3

# blumate.components.mqtt.server
hbmqtt==0.7.1

# blumate.components.thermostat.heatmiser
heatmiserV3==0.9.1

# blumate.components.switch.hikvisioncam
hikvision==0.4

# blumate.components.sensor.dht
# http://github.com/mala-zaba/Adafruit_Python_DHT/archive/4101340de8d2457dd194bca1e8d11cbfc237e919.zip#Adafruit_DHT==1.1.0

# blumate.components.switch.dlink
https://github.com/LinuxChristian/pyW215/archive/v0.1.1.zip#pyW215==0.1.1

# blumate.components.media_player.webostv
# blumate.components.notify.webostv
https://github.com/TheRealLink/pylgtv/archive/v0.1.2.zip#pylgtv==0.1.2

# blumate.components.sensor.thinkingcleaner
# blumate.components.switch.thinkingcleaner
https://github.com/TheRealLink/pythinkingcleaner/archive/v0.0.2.zip#pythinkingcleaner==0.0.2

# blumate.components.alarm_control_panel.alarmdotcom
https://github.com/Xorso/pyalarmdotcom/archive/0.1.1.zip#pyalarmdotcom==0.1.1

# blumate.components.media_player.roku
https://github.com/bah2830/python-roku/archive/3.1.1.zip#python-roku==3.1.1

# blumate.components.modbus
https://github.com/bashwork/pymodbus/archive/d7fc4f1cc975631e0a9011390e8017f64b612661.zip#pymodbus==1.2.0

# blumate.components.media_player.onkyo
https://github.com/danieljkemp/onkyo-eiscp/archive/python3.zip#onkyo-eiscp==0.9.2

# blumate.components.device_tracker.fritz
# https://github.com/deisi/fritzconnection/archive/b5c14515e1c8e2652b06b6316a7f3913df942841.zip#fritzconnection==0.4.6

# blumate.components.netatmo
https://github.com/jabesq/netatmo-api-python/archive/v0.5.0.zip#lnetatmo==0.5.0

# blumate.components.sensor.sabnzbd
https://github.com/jamespcole/home-assistant-nzb-clients/archive/616cad59154092599278661af17e2a9f2cf5e2a9.zip#python-sabnzbd==0.1

# blumate.components.qwikswitch
https://github.com/kellerza/pyqwikswitch/archive/v0.4.zip#pyqwikswitch==0.4

# blumate.components.ecobee
https://github.com/nkgilley/python-ecobee-api/archive/4856a704670c53afe1882178a89c209b5f98533d.zip#python-ecobee==0.0.6

# blumate.components.switch.edimax
https://github.com/rkabadi/pyedimax/archive/365301ce3ff26129a7910c501ead09ea625f3700.zip#pyedimax==0.1

# blumate.components.sensor.temper
https://github.com/rkabadi/temper-python/archive/3dbdaf2d87b8db9a3cd6e5585fc704537dd2d09b.zip#temperusb==1.2.3

# blumate.components.sensor.gtfs
https://github.com/robbiet480/pygtfs/archive/00546724e4bbcb3053110d844ca44e2246267dd8.zip#pygtfs==0.1.3

# blumate.components.scene.hunterdouglas_powerview
https://github.com/sander76/powerviewApi/archive/master.zip#powerviewApi==0.2

# blumate.components.mysensors
https://github.com/theolind/pymysensors/archive/cc5d0b325e13c2b623fa934f69eea7cd4555f110.zip#pymysensors==0.6

# blumate.components.notify.googlevoice
https://github.com/w1ll1am23/pygooglevoice-sms/archive/7c5ee9969b97a7992fc86a753fe9f20e3ffa3f7c.zip#pygooglevoice-sms==0.0.1

# blumate.components.media_player.lg_netcast
https://github.com/wokar/pylgnetcast/archive/v0.2.0.zip#pylgnetcast==0.2.0

# blumate.components.influxdb
influxdb==2.12.0

# blumate.components.insteon_hub
insteon_hub==0.4.5

# blumate.components.media_player.kodi
jsonrpc-requests==0.2

# blumate.components.light.lifx
liffylights==0.9.4

# blumate.components.light.osramlightify
lightify==1.0.3

# blumate.components.light.limitlessled
limitlessled==1.0.0

# blumate.components.notify.message_bird
messagebird==1.2.0

# blumate.components.sensor.mfi
# blumate.components.switch.mfi
mficlient==0.3.0

# blumate.components.discovery
netdisco==0.6.7

# blumate.components.sensor.neurio_energy
neurio==0.2.10

# blumate.components.switch.orvibo
orvibo==1.1.1

# blumate.components.mqtt
paho-mqtt==1.1

# blumate.components.media_player.panasonic_viera
panasonic_viera==0.2

# blumate.components.device_tracker.aruba
# blumate.components.device_tracker.asuswrt
pexpect==4.0.1

# blumate.components.light.hue
phue==0.8

# blumate.components.media_player.plex
plexapi==1.1.0

# blumate.components.thermostat.proliphix
proliphix==0.1.0

# blumate.components.sensor.systemmonitor
psutil==4.2.0

# blumate.components.notify.pushbullet
pushbullet.py==0.10.0

# blumate.components.notify.pushetta
pushetta==1.0.15

# blumate.components.sensor.cpuspeed
py-cpuinfo==0.2.3

# blumate.components.rfxtrx
pyRFXtrx==0.8.0

# blumate.components.notify.xmpp
pyasn1-modules==0.0.8

# blumate.components.notify.xmpp
pyasn1==0.1.9

# blumate.components.device_tracker.bluetooth_tracker
# pybluez==0.22

# blumate.components.media_player.cast
pychromecast==0.7.2

# blumate.components.zwave
pydispatcher==2.0.5

# blumate.components.ifttt
pyfttt==0.3

# blumate.components.device_tracker.icloud
pyicloud==0.8.3

# blumate.components.sensor.lastfm
pylast==1.6.0

# blumate.components.sensor.loopenergy
pyloopenergy==0.0.13

# blumate.components.mongo
pymongo==3.2.2

# blumate.components.device_tracker.netgear
pynetgear==0.3.3

# blumate.components.switch.netio
pynetio==0.1.6

# blumate.components.alarm_control_panel.nx584
# blumate.components.binary_sensor.nx584
pynx584==0.2

# blumate.components.sensor.openweathermap
pyowm==2.3.1

# blumate.components.switch.acer_projector
pyserial<=3.0

# blumate.components.device_tracker.snmp
# blumate.components.sensor.snmp
pysnmp==4.3.2

# blumate.components.sensor.forecast
python-forecastio==1.3.4

# blumate.components.lirc
# python-lirc==1.2.1

# blumate.components.media_player.mpd
python-mpd2==0.5.5

# blumate.components.nest
python-nest==2.9.2

# blumate.components.device_tracker.nmap_tracker
python-nmap==0.6.0

# blumate.components.notify.pushover
python-pushover==0.2

# blumate.components.statsd
python-statsd==1.7.2

# blumate.components.notify.telegram
python-telegram-bot==4.2.0

# blumate.components.sensor.twitch
python-twitch==1.2.0

# blumate.components.wink
# blumate.components.binary_sensor.wink
# blumate.components.garage_door.wink
# blumate.components.light.wink
# blumate.components.lock.wink
# blumate.components.sensor.wink
# blumate.components.switch.wink
python-wink==0.7.6

# blumate.components.keyboard
pyuserinput==0.1.9

# blumate.components.vera
pyvera==0.2.10

# blumate.components.wemo
pywemo==0.4.3

# blumate.components.thermostat.radiotherm
radiotherm==1.2

# blumate.components.switch.rpi_rf
# rpi-rf==0.9.5

# blumate.components.media_player.yamaha
rxv==0.1.11

# blumate.components.media_player.samsungtv
samsungctl==0.5.1

# blumate.components.sensor.deutsche_bahn
schiene==0.17

# blumate.components.scsgate
scsgate==0.1.0

# blumate.components.notify.sendgrid
sendgrid>=1.6.0,<1.7.0

# blumate.components.notify.slack
slacker==0.9.16

# blumate.components.notify.xmpp
sleekxmpp==1.3.1

# blumate.components.media_player.snapcast
snapcast==1.2.1

# blumate.components.thermostat.honeywell
somecomfort==0.2.1

# blumate.components.sensor.speedtest
speedtest-cli==0.3.4

# blumate.components.http
static3==0.7.0

# blumate.components.sensor.steam_online
steamodd==4.21

# blumate.components.tellstick
# blumate.components.sensor.tellstick
tellcore-py==1.1.2

# blumate.components.tellduslive
tellive-py==0.5.2

# blumate.components.sensor.transmission
# blumate.components.switch.transmission
transmissionrpc==0.11

# blumate.components.notify.twilio_sms
twilio==5.4.0

# blumate.components.sensor.uber
uber_rides==0.2.1

# blumate.components.device_tracker.unifi
unifi==1.2.5

# blumate.components.device_tracker.unifi
urllib3

# blumate.components.camera.uvc
uvcclient==0.9.0

# blumate.components.verisure
vsure==0.8.1

# blumate.components.switch.wake_on_lan
wakeonlan==0.2.2

# blumate.components.media_player.gpmdp
websocket-client==0.35.0

# blumate.components.zigbee
xbee-helper==0.0.7

# blumate.components.sensor.yr
xmltodict

# blumate.components.zeroconf
zeroconf==0.17.5
